bank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.example.com"
  xmlns="https://www.example.com"
  elementFormDefault="qualified"
>
  <xs:element name="bank">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="nameOfBank" type="xs:string" />
        <xs:element name="bankId" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="balance" type="xs:decimal" />
        <xs:element name="maintainingBalance" type="xs:decimal" />

      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>